html, #root, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor:url('./components/media/cursorNormal.png'), auto
}
a, button, .buttonCursor {
  cursor:url('./components/media/cursorLink.png'), auto
}
a:active, button:active, .buttonCursor:active{
  cursor:url('./components/media/cursorClicked.png'), auto
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
